/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* milestone css */
img
{
   height: 50px;
   width: 50px;
}


.bton
{
  width: 50px;
  height: 50px;
}
.bton:hover
{
  transform: scale(0.7);
  border: none;
 
}
.dispimg
{
  width: 250px;
  height: 350px;
}
.bottom
{
   border-bottom: 2px solid black;
}
.price-color
{
  color: red;
}
.button-deco:hover
{
  transform: scale(0.9);
}
